/*
* {
    border: 1px solid red;
}

*/
body{
    font-size: 1rem;
    font-family: "Inter";
}

#wrap {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    height: 40px;
    order: 1;
}

.category {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    order: 2;
}

nav a {
    text-decoration: none;
    color: gray;
}

.search {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    align-items: center;
    gap: 20px;
    order: 3;
}

.search-box {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 35px;
  }
  
  
.search-box input {
    width: 100%;
    height: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.search-box .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: dodgerblue;
    pointer-events: none;
}
  

.profilePhoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
}

.profilePhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    padding: 1rem;
    background-image: url(./src/images/filmafisi.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0.8rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    color: white;
    width: 70%;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    backdrop-filter: invert(30%);
    border-radius: 1rem;
    padding: 1rem;
}

.movie-info {
    display: flex;
    gap: 1.5rem;
    font-size: 0.8rem;
}


.maturity-rating{
    border: 1px solid white;
    padding: 0.5px 3px;
    text-align: center;
}

.movie-details { 
    list-style-type:none;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.btn {
    border: none;
    border-radius: 10px;
    background-color: red;
    width: 110px;
    height: 40px;
    text-align: left;
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
    font-weight: 700;
    display: flex;
    gap: 0.5rem;
    align-self: flex-start;
    align-items: center;
    flex-grow: 0;
    transition: transform .2s;
}


.suggestion-title {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    padding-right: 1rem;
    margin-bottom: .3rem;
}  

.suggestion-title h2 {
    padding-left: 1rem;
    font-size: 1rem;
}

.suggestion-content {
    display: flex;
    justify-content: space-between;
}

.suggestion-item {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 1rem;
    width: 23%;
    align-items: flex-start;
    row-gap: 0.3rem;
    position: relative;
    overflow: hidden;
}

.suggestion-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item-content {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: invert(30%);
    color: white;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.3rem;
}

.suggestion-details {
    display: flex;
    gap: 1rem;
    font-size: 0.7rem;
}

section {
    display: flex;
    flex-direction: column;
    row-gap: 2.3rem;
}

footer {
    display: flex;
    font-size: .8rem;
    gap: 5%;
    margin: rem 0;
}

.copyright {
    width: 50%;
}

.copyright nav {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: .7rem;
}

.follow-us {
    color: gray;
    display: flex;
    width: 15%;
    flex-direction: column;
}

.follow-us div{
    display: flex;
    gap: .7rem;
    margin-top: .3rem;
}

.follow-us img {
    width: 2.7rem;
}

.apps {
    color: gray;
    width: 25%;
}

.apps div {
    display: flex;
    justify-content: space-between;
    margin-top: .3rem;
}

.apps img{
    width: 7rem;
}

.fa-bell:hover, .btn:hover, .profilePhoto img:hover, .apps div img:hover,  .follow-us img:hover{
    cursor: pointer;
}

.btn:hover, .profilePhoto:hover {
    transform: scale(1.1);
}

@media (max-width: 700px) {

    header {
        flex-wrap: wrap; 
        justify-content: space-between; 
    }

    .logo {
        order: 1; 
        justify-content: flex-start;
    }

    .search {
        order: 2; 
        justify-content: flex-end;
        margin-right: 0;
    }

    .category {
        flex: 80%; 
        order: 3; 
        margin-top: 10px;
        justify-content: center;
    }

    .suggestion-content {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .suggestion-item {
        margin-bottom: 1rem;
        width: 45%;
    }

    footer {
        flex-wrap: wrap;
        row-gap: 1rem;
        padding: 1rem;
    }

    .copyright {
        width: 100%;
    }

    .follow-us {
        margin-right: 3rem;
    }
}
